<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	                    http://www.springframework.org/schema/beans/spring-beans.xsd">

    
    <import resource="spring-datasource.xml" />


    <bean id="zkConfig" class="org.mz.ditran.core.conf.DitranZKConfig">
        <constructor-arg name="serverLists" value="${job.zookeeper}"/>
        <constructor-arg name="namespace" value="${job.namespace}"/>
    </bean>

    <bean id="ditranPassiveContainer" class="org.mz.ditran.core.conf.DitranPassiveContainer">
        <constructor-arg name="config" ref="zkConfig" />
        <constructor-arg name="transactionManager" ref="transactionManager"/>
    </bean>
</beans>