<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <dubbo:application name="${cx.dubbo.name}" owner="yue.zhang"/>
    <dubbo:registry address="${cx.dubbo.zookeeper}"/>
    <dubbo:protocol port="${cx.dubbo.port}"/>
    <dubbo:monitor protocol="registry"/>

    <bean id="updater" class="com.mz.ditran.sample.rpc.impl.UpdaterImpl" />

    <dubbo:service interface="com.mz.ditran.sample.rpc.Updater"
                   ref="updater"
                   timeout="5000"
                   retries="2"
                   executes="20"> <!-- executes: 一个服务提供者并行执行请求上限 -->
    </dubbo:service>

</beans>